.wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
.wrapper-post {
  max-width: 100%;
}

/*
[1]: All items a forced onto a single line, causing the overflow when necessary.
[2]: Automatic overflow means a scroll bar won’t be present if it isn’t needed
[3]: Make it smooth scrolling on iOS devices before 
[4]: Hide the ugly scrollbars in Edge until the scrollable area is hovered
[5]: Hide the scroll bar in WebKit browsers
*/
.scroll {
  white-space: nowrap; /* [1] */
  overflow-x: auto; /* [2] */
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */
  scrollbar-width: thin;
}

//* [5] *
 .scroll::-webkit-scrollbar {
   display: show;
   -webkit-appearance: none;
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(167, 167, 167, 0.5);
}
.scroll::-webkit-scrollbar:horizontal {
  height: 12px;
}




article {
  p, h1, h2, h3, h4, h5, h6, figcaption {
    margin-right: 20px;
    margin-left: 20px;
  }
  p, ol li, ul li {
    font-family: 'Noto Serif';
  }
  > ol li {
    padding-bottom: 0.8em;
  }
  a {
    word-break: break-word;
    text-decoration: underline;
  }
}
.wrapper-footer {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
body {
  margin: 0 0 0 0;
  font: 1.15em Helvetica, Arial, sans-serif;
  // font-family: Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
  // --header-font: "Times New Roman", Times, serif;
  --header-font: 'Noto Serif', serif;
}


// Start Themes colors 
html, html[data-theme="light"] {
  --font-color: #333;
  --font-color-header: #222;
  --bg-color: white;
  --link-color: #1a0dab;
  --link-visited-color: purple;
  --botao-color: #dedede;
  --marked-color: yellow;
  --hover-bg-color: #cccccc;
  --comments-subject: green;
  --light: black;
  --blockquote-color: rgb(221, 221, 221);
  --icon-color: rgb(131, 128, 127);
}

html[data-theme="dark"] {
  --font-color: #b3b9c5;
  --font-color-header: #b3b9c5;
  --bg-color: #202020;
  --link-color: #81a5f8;
  --link-visited-color: #c197f8;
  --botao-color: #3d3d3d;
  --marked-color: #3560d4;
  --hover-bg-color: #303030;
  --comments-subject: orange;
  --light: yellow;
  --blockquote-color: #181818;
  --icon-color: #b3b9c5;
}
@media (prefers-color-scheme: dark) { // This configure the dark theme to default
  html {
    content: "dark";
  }
}
#theme-toggle {
  display: inline-block;
  font-size: 14px;
  border: 1px solid var(--font-color);
  border-top: none;
  padding: 4px 6px 4px 6px;
  border-radius: 0 0 0.5rem 0.5rem;
  color: var(--link-color);
  background-color: var(--bg-color);
  outline: none;
}
#theme-toggle:hover {
    padding-bottom: 10px;
    margin-bottom: 0px;
}
// End of themes definition

.icon {
  width: 16px;
  height: 16px;
  fill: gray;
}
.icon-background {
  width: 100px;
  height: 100px;
  fill: var(--font-color);
}


// Start Header
#header {
  h1 {
  margin-top: 10px;
  font-weight: normal;
  text-align: left;
  max-width: 100%;
  font-size: 3em;
    a { color: var(--font-color);
    }
  }
}
// End Header


.mosca {
  display: inline-block;
}

// buttons layout for blog
.botao {
  text-decoration: none;
  font-size: medium;
  background-color: var(--botao-color);
  color: var(--font-color);
  font-weight: normal;
  padding: 5px 6px 4px 6px;
  border-radius: 4px;
  display: inline-block;
  padding-right: 5px;
  margin-right: 2px;
  margin-bottom: 5px;
  line-height: 1.2;
}
.botao:hover {
  background-color: var(--hover-bg-color);
  text-decoration: none;
}
.botao:visited {
  color: var(--font-color);
}
.botao-entrada {
  font-size: 0.7em;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0.5em;
  margin-top: 0;
}

#assinar-email {
  margin-bottom: 0.25em;
}

.assinar-email-long {
  background: radial-gradient(circle at 20% 20%, #329709 25%, #256b09 100%);
  padding: 8px 8px 8px 8px;
  box-shadow: 0.5rem 1rem 1rem 0 rgba(100,110,140,.4);
  margin: 20px auto;
  display: block;
  width: 560px;
  max-width: 80%;
  text-align: center;
  border-radius: 0.8rem;
  color: white;
  font-family: Helvetica, sans-serif;
  text-decoration: none;

}
.assinar-email-long:visited {
  color: white;
}
#news-todas {background: radial-gradient(circle at 20% 20%, #b3b44c 25%, #d1b435 100%);}
#news-musica {background: radial-gradient(circle at 20% 20%, #9c0505 25%, #640505 100%);}
#news-cinema {background: radial-gradient(circle at 20% 20%, #05659c 25%, #053469 100%);}
.newsletter {
  width: 220px;
  margin-bottom: 12px;
}
.assine-email {
  background: radial-gradient(circle at 20% 20%, #329709 25%, #256b09 100%);;
  border-radius: 0.8rem;
  box-shadow: 0.5rem 1rem 1rem 0 rgba(100,110,140,.4);
  padding: 6px 4px 5px 4px;
  margin: 30px auto;
  h3 {
    text-align: center;
    color: white;
    font-family: Helvetica, sans-serif;
    margin-top: 4px;
  }
  p {
  text-align: center;
  font-size: 0.9em;
  color: rgb(240, 240, 240); 
  line-height: 1.3em;
  font-family: Helvetica, sans-serif;
  margin-bottom: 0;
  }
}
.assine-posts {
  max-width: 500px;
  width: 80%;
  margin-top: 50px;
}
.assine-front {
  max-width: 300px;
}



// Email Subscription form
#mc_embed_signup_scroll {
  .indicates-required {
    font-size: small;
  }

}
input[type=checkbox] {
  transform: scale(1.5);
}
.mc-field-group {
  ul { 
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }
}

#subscribe {
  font-size: 1.15em;
}

// End email Subscription form






.botao-serif {
  font-family: var(--header-font);
  font-size: 1em;
}



/* Barra de navegaçao */
nav {
  margin: 0 auto;
  text-align: left;
  width: 100%;
  display: inline-block;
  a {
    text-decoration: none;
    font-size: 14px;
    border: 1px solid var(--font-color);
    border-top: none;
    border-radius: 0 0 0.5rem 0.5rem;
    color: var(--link-color);
    padding: 4px;
    margin-left: 0;
    display: inline-block;
    margin-bottom: 10px;
  }
  a:hover {
    padding-bottom: 10px;
    margin-bottom: 0px;
    text-decoration: underline;
  }
  a:visited {
    color: var(--link-color);
  }
}
.nav-icons {
  fill: var(--link-color);
}
.current {
  padding-bottom: 10px;
  margin-bottom: 0px;
}


// svg icons
.fa, .fas, .fab, .far {
  padding-right: 5px;
}
#face, #git, {
  font-size: 20px;
}
.fa-rss {
  font-size: 18px;
  color: gray;
}
#face {
  padding-left: 3px;
  padding-right: 3px;
}
#calendar-index {
  padding-right: 5px;
}
#portrait-index {
  padding-right: 5px;
}
.fa-clock {padding-right: 0px;}
.email {
  border-radius: 1rem;
  color: gray;
  p {
  margin: 0;
  display: inline-block;
  }
}


/* conteúdo principal */
.main {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}


// Collapsible begin
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 0.5rem;
  margin-bottom: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #f1f1f1;
}
// Collapsible end

// Adding 'Contents' headline to the TOC
#markdown-toc::before {
  content: "Sumário";
  font-weight: bold;
  font-size: 1.2rem;
}
#markdown-toc {
  max-width: 300px;
  padding: 1.5em;
  padding-left: 2rem;
  margin-left: 1.5rem;
  display: inline-block;
  border-color: black;
  border: 1px solid;
  border-radius: 1rem;
  font-size: 1rem;
  a:hover {
    color: #686868;
  }
}






h1  {
  text-align: left;
  margin-bottom: 0;
  max-width: 600px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
  color: var(--font-color-header);
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 0.2em;
}

a {
  text-decoration: none;
  color: var(--link-color);
}
a:visited {
  color: var(--link-visited-color);
}
a:hover {
  text-decoration: underline;
}
p, li {
  line-height: 1.8;
  color: var(--font-color);
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img > article {
  width: 100%;
}
figure {
  margin-bottom: 1em;
  margin-top: 0em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
figcaption {
  text-align: center;
  margin-top: 0.8em;
  font-size: 0.8em;
}
video {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* article a[target="_blank"]:after {
  content: url(http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png);
  margin: 0 0 0 5px;
}
*/

// select marked text
::selection {
  background: var(--marked-color); /* WebKit/Blink Browsers */
  color: #000;
}
::-moz-selection {
  background: var(--marked-color); /* Gecko Browsers */
}

.vertical-nav {
  float: right;
  margin-right: 0;
  a {
    background-color: green;
    border-radius: 0.5em;
    padding: 4px 4px 4px 8px;
    color: white ;

  }
}
.abertura {
  color: var(--font-color);
  display: block;
  h2 {
    margin-bottom: 1px;
  }
  p {
    margin-top: 6px;
  }
}
.apresentacao {
  font-family: 'Noto Serif', serif;
}

.svg-seguir {
  padding: 1px;
}
#ultimas {
  padding-top: 30px;
}
.item {
  flex: 1;
}
.item-inferior {
  max-width: 300px;
  margin: 0 auto;
}


// Quadro para Newsletter e apresentação
.quadro {
  background: radial-gradient(circle at 20% 20%, #68d33d 25%, #356821 100%);
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 0.8rem;
  box-shadow: 0.5rem 1rem 1rem 0 rgba(100,110,140,.4);
  padding: 15px 4px 5px 4px;
}
.assinar {
  text-decoration: none;
  font-size: medium;
  background-color: white;
  font-family: Helvetica, sans-serif;
  color: green;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.2;
}
.assinar:hover {
  background-color: rgb(240, 240, 240);
  text-decoration: none;
}
.assinar:visited {
  color: rgb(0, 100, 0);
}
.texto-assine {
  color: white;
  font-size: 1.15rem;
  font-family: Noto Sans, Helvetica, sans-serif;
  line-height: 1.5rem;
}


// ícones de seguir redes sociais
.redes {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  p {
    margin-bottom: 0;
    margin-top: 0;
    a {
     text-decoration: none; 
    }
  }
}
.icon-abertura {
  fill: rgb(255, 255, 255);
  padding-right: 8px;
  width: 20px;
  height: 20px;
}

// Minha foto na página inicial
.foto {
  border-radius: 50%;
  max-width: 100px;
  margin: 0 auto;
}




input, textarea {
  margin-top: 0;
  padding-top: 0;
  background-color: var(--botao-color);
  color: var(--font-color);
  font-weight: normal;
  padding: 5px 8px 5px 8px;
  border-radius: 4px;
  display: inline-block;
  border: solid 0px;
  padding-right: 5px;
  margin-right: 2px;
  margin-bottom: 5px;
  line-height: 1.2;
  max-width: 90%;
}
input:hover, textarea:hover {
  background-color: var(--hover-bg-color);
  color: var(--link-color);
  svg {
    fill: var(--link-color);
  }
}
button {
  border: none;
}
.ei {
  margin-top: 80px;
  h1 {
  margin-bottom: 0;
  }
  p {
    margin-top: 0;
  }
}
#aprovacao {
  font-size: small;
  margin-top: 0;
  margin-bottom: 0;
}



.post-date {
  font-size: 0.9em;
  margin-bottom: 0;
  font-family: Georgia, serif;
}
.post-author {
  font-size: 16px;
  color: gray;
  text-align: right;
  margin-top: 0;
}
.post-list {
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  ul li {
    line-height: 1;
  }
  li h2 {
    margin-bottom: 20px;
    line-height: 1.2;
    margin-top: 5px;
  }
  li h2 a {
    text-decoration: none;
    font-size: 24px;
    color: var(--font-color);
    font-weight: bold;
  }
  li h2 a:hover {
    color: var(--link-color);
    text-decoration: underline;
  }
}


// CSS das Tags
.tag {
  background-color: rgb(250, 250, 24);
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
  margin-right: 5px;
  color: var(--font-color);
  line-height: 1.5;
}

.Piano {background-color: rgb(250, 201, 201);}
.Perforomance {background-color: rgb(248, 246, 147);}
.Diário {background-color: rgb(191, 241, 194);}
.COVID-19 {background-color: rgb(235, 232, 255);}

.archive-list {
  li {
    line-height: 1em;
    margin-bottom: 5px;
  }
  li a {
    text-decoration: none;
    padding-bottom: 0;
    line-height: 1.2em;
    font-family: var(--header-font);
  }
  li a:hover {
    text-decoration: underline;
  }
}
.post-info-archive {
  color: gray;
  margin-top: 0;
  display: inline-block;
  font-size: 0.8em;
  line-height: 0.8em;
  padding-top: 0;
}

#post-page-info {
  font-size: 16px;
  color: gray;
  margin-top: 1px;
  text-align: center;
}
.post-info {
  font-size: 16px;
  color: rgb(150, 150, 150);
  margin-top: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-right: 10px;
  border-radius: 4px;
  line-height: 1.5rem;
}
.pseudobotao2 {
  font-size: 16px;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  margin-right: 2px;
  color: rgb(150, 150, 150);
  margin-bottom: 2px;
  margin-top: 5px;
  line-height: 1.2;
}


pre { 
	margin: 20px; padding: 20px; 
	color: #aaa; background-color: #222;
	white-space: pre; text-shadow: 0 1px 0 #000;
	border-radius: 15px; border-bottom: 1px solid #555;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4) inset, 0 0 20px rgba(0,0,0,0.2) inset;
	font: 16px/24px 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}
kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}
blockquote {
  position: relative;
  font-family: 'Sanchez', serif;
  font-style: italic;
  text-align: center;
}
q {
  font-family: 'Sanchez', serif;
  font-style: italic;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(189, 189, 189, 0), rgba(211, 211, 211, 0.75), rgba(201, 201, 201, 0));
}


// for instagram embed in posts
.instagram-div {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}


// Footnote simble in posts
.footnote {
  color: var(--link-color);
  :visited {
    color: var(--link-visited-color);
  }
}
a.footnote:before {   
  content: "[";
 }
a.footnote:after {
  content: "]";
}


// Comments mail
.comments {
  background-color: var(--botao-color);
  padding: 1px 10px 5px 10px;
  border-radius: 10px;
}


/* Aqui começa o footer */
.footer {
  padding: 10px;
  text-align: right;
}
.footer-col ul {
  padding-left: 0;
  li {
  list-style-type: none;
  }
}


// Ícones do footer
.icon-footer {
  fill: gray;
  width: 20px;
}


.coisas {
  margin: 0 auto;
  font-size: 16px;
  color: gray;
  display: inline;
  text-align: center;
}
.license {
  display: inline-block;
  width: 100%;
  p {
    text-align: center;
    font-size: 14px;
    margin: 0 0 0 0;
    color: gray;
    a {
      font-size: 14px;
      color: var(--link-color)ue;
      text-decoration: none;
    }
  }
  a img {
    margin: 5px auto;
    display: block
  }
}
.menu {
  li {
    margin-bottom: 5px;
  }
  a {
    font-size: 16px;
  }
  a:hover {
    color: black;
  }
}
#creditos {
  color: gray;
  font-size: 16px;
}
.svg {
  padding-right: 5px;
  width: 14px;
  fill: var(--link-color);
}
.svg-icon {
  height: 16px;
  padding-right: 5px;
  fill: gray;
}
.feedly {
  margin-bottom: 0;
  padding-bottom: 0;
  vertical-align: top;
  display: inline-block;
  top: .155em;
  position: relative;
}



/* Aqui é pra computador */
@media only screen and (min-width: 800px) {
  #post-info,{
    display: inline-block;
  }
  #markdown-toc {
    float: right;
  }
  article {
    font-size: 1.25rem;
  }
}

/* Aqui é para tablet */
@media only screen and (min-width: 600px) {
  .wrapper-post {
    max-width: 700px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  article {
    p, h1, h2, h3, h4, h5, h6 {
    margin-right: 0;
    margin-left: 0;
    }
  }
  .abertura {
    display: flex;
  }
  img {
    width: inherit;
  }
}